<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <a href="/users/<%=user._id%>/foods/new">Add New Item</a>
        <h1>Welcome to my Pantry</h1>
        <% if(pantry.length){
         pantry.forEach((e)=>{%>
          <li><a href="/users/<%=user._id%>/foods/<%=e._id%>"><%=e.name%></a>     <form action="/users/<%=user._id%>/foods/<%=e._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form></li>
        <br> <br>
      <%})
        } else{ %> 
          <h2>This Pantry is empty</h2>
          <%}%>
  </body>
</html>
